.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #f0f0f0; /* Background color of the scrollbar area */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}